BetSimu/obj/Debug/BaiSimu.Properties.Resources.resources
BetSimu/obj/Debug/BaiSimu.csproj.FileListAbsolute.txt
BetSimu/obj/Debug/BetSimu.Form1.resources
BetSimu/obj/Debug/BetSimu.Properties.Resources.resources
BetSimu/obj/Debug/BetSimu.csproj.FileListAbsolute.txt
BetSimu/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BetSimu/bin/Debug/BaiSimu.exe.config
BetSimu/bin/Debug/BaiSimu.vshost.exe.config
BetSimu/bin/Debug/BetSimu.exe.config
BetSimu/bin/Debug/BetSimu.vshost.exe.config
BetSimu/bin/Debug/BetSimu.vshost.exe.manifest
BetSimu/obj/
